@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

body {
  height: 2000px;
  color: #757575;
  font-size: 18px;
  line-height: 32px;
  background-image: url("../img/handTR2.png"), url("../img/face-down.png"), url("../img/greek-trans.png");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 100% 10%, -10% 290%, 100% 800%;
  background-size: 30%, 20%, auto;
}
/*START prompt-box styling*/
.boxes {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}
.first-odd-box {
  height: 100px;
  width: 100px;
  opacity: 0.0;
}
.prompt-box {
  height: 100px;
  width: 200px;
  margin-bottom: 100px;
  color: black;
  font-family: 'Amatic SC', cursive;
  font-weight: bolder;
  font-size: 50px;
  text-align: center;
  opacity: 0.0;
  padding: 50px 0;
}

.prompt-info {
  width: 100%;
  font-weight: normal;
}

.prompt-link, .prompt-link2 {
  color: #e2665a;
  font-weight: bold;
}

.prompt-link:hover, .prompt-link2:hover {
  text-decoration: underline;
  cursor: pointer;
}

#prompts-display {
  /*min-height: 600px;*/
}

/*#prompts {
  width: 100%;
  padding: 25px;
  margin-bottom: 20px;
  display: none;
}

#prompts h3 {
  text-align: center;
}*/

.list-padding {
  padding: 0 60px;
}

/*END prompt-box styling*/

p {
  padding-bottom: 10px;
}

h3, h1, h4, h2 {
  font-family: 'Amatic SC', cursive;
  color: #e2665a;
  padding-bottom: 20px;
}

h3 {
  font-size: 60px;
}

h2 {
  font-size: 70px;
}

#mediabuttons {
  text-align: left;
  padding-top: 20px;
}

img.social {
  width: 33px;
}

h1 {
  font-size: 250px;
  text-align: center;
  color: #000000;
}

a {
  color: #e2665a;
}

h4 {
  text-align: center;
  font-size: 50px;
}

#penimg {
  position: fixed;
  left: 0px;
  top: 10px;
  height: 100px;
  width: 100px;
  transition-duration: 500ms;
  z-index: 0;
}

#footerimg {
  max-height: 400px;
  min-height: 400px;
  display: none;
  position: relative;
  z-index: -1;
}

footer {
  position:absolute;
  background-color: black;
  padding: 25px;
  padding-top: 20px;
  z-index: -2;
}

.container-prompts{
  padding-right: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  /*background-image: url("../img/faceC.png"), url("../img/katie-diamond.png"), url("../img/katie-circle.png");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 0% 3%, 95% 16%, 0% 27%;
  background-size: 40%, 40%, 40%;*/
}

.hover-color:hover {
  color: #e2665a;
}

#instagram h3 {
  color: #000000;
  padding-top: 60px;
}


#rules {
  /*width: 70%;*/
  padding: 25px;
  margin-bottom: 20px;
  margin-left: 30px;
}

#prompts {
  width: 70%;
  padding: 25px;
  padding-bottom: 50px;
  margin-bottom: 20px;
  margin: auto;
  clear:both;
  display: none;
}

#prompts h3 {
  text-align: center;
  font-size: 85px;
}

/*START scrolling boxes*/
.first-odd-box {
  height: 100px;
  width: 100px;
  opacity: 0.0;
}
.prompt-box {
  height: 100px;
  width: 200px;
  margin-bottom: 100px;
  color: black;
  font-family: 'Amatic SC', cursive;
  font-weight: bolder;
  font-size: 50px;
  text-align: center;
  opacity: 0.0;
  padding: 50px 0;
}

.prompt-info {
  width: 100%;
  font-weight: normal;
}

.prompt-link, .prompt-link2 {
   color: #e2665a;
   font-weight: bold;
 }

.prompt-link:hover, .prompt-link2:hover {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

/*END scrolling boxes*/

#toc {
  width: 100%;
  text-align: center;
  padding: 20px;
  font-family: 'Amatic SC', cursive;
}

#pod {
  padding: 50px;
  text-align: center;
}
#pod h2 {
  color: #000;
}

img.stroke {
  max-width: 400px;
  padding-top: 0px;
  display: none;
}

#about, #tips {
  /*margin: auto;*/
  /*width: 60%;*/
  float: right;
  padding: 25px;
  margin-bottom: 20px;
  border-radius: 25px;
}

#tips {
  width: 53%;
}


#inktoberpic {
  width: 150px;
}

#instagram {
  width: 100%;
  text-align: center;
  clear: both;
}

/*.row {
  padding: 25px;
}*/

#tips ul li {
  list-style-image: url("../img/bullet-3.png");
  padding-bottom: 15px;
  margin-left: 30px;
}


#prompts ol li {
  list-style-type: decimal;
  margin-left: 80px;
}

#rules ol li {
  list-style-type: decimal;
  margin-left: 30px;
}

.redcolor {
  color: #e2665a;
}

.display-prompt {
  color: #e2665a;
  font-size: 120px;
}

h2.display-prompt  {
  padding-bottom: 0px;
  line-height: 50px;
}

.display-prompt:hover {
  display: block;
}

#toc ul li {
  font-size: 20px;
  display: inline;
}

#toc {
  margin: auto;
}

ul.section {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 35px;
}

ul.section a {
  color: #757575;
  font-family: 'Amatic SC', cursive;
  font-size: 35px;
}



/*#pen {
  filter: invert(100%);
  left: 10
}*/

/*.inner {
  width: 150px;
  height: 100px;
  position: fixed;
  top: 20%;
  left: 10%;
  background: red;
}*/

/*background-image: url("../img/faceC.png"), url("../img/katie-diamond.png"), url("../img/katie-circle.png");
background-repeat: no-repeat, no-repeat, no-repeat;
background-position: 0% 3%, 95% 16%, 0% 27%;
background-size: 40%, 40%, 40%;*/

/*KYLE IMAGES WITH CSS -- To add, enable ID and paste img div to html*/
#img1 {
width: 400px;
margin-top: 150px;
}

#img2 {
height: 400px;
/*margin: auto;*/
}

#img3 {
width: 400px;
}


/*#img4 {
width: 200px;
}*/

.wrapper p {
position:relative;
visibility:hidden;
}

.text {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  color: #e2665a;
  font-size: 150%;
  font-weight: bold;
}


.our-name {
  text-align: left;
  font-weight: bold;
  color: #e2665a;
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
}

/*.bubble {
  border-style: solid;
  border-color: red;
  border-radius: 30px;
  background-color: white;
  height: 350px;
  margin: 10px;
  opacity: 0.5;
}*/

.blurb {
  font-size: 20px;
  padding-top: 20px;
}

.description {
  font-size: 16px;
  line-height: 28px;
}

.bubble:hover {
  opacity: 1.0;
}

.footer-spacing {
  margin-left: 300px;
  color: #f2f2f2;
}

#footerimg {
  max-height: 400px;
  min-height: 400px;
  display: none;
  position: relative;
  z-index: -1;
}

footer {
  position:absolute;
  background-color: black;
  padding: 25px;
  padding-top: 20px;
  z-index: -2;
}

h4.aboutHeadline {
  text-align: right;
  padding-right: 30px;
  font-size: 80px;
  z-index: 1;
}

/*START background splatter*/
#splat1 {
  position: absolute;
  top: 400px;
  left: 200px;
  height: 10%;
  z-index: -1;
  display: none;
}

#splat2 {
  position: absolute;
  left: 1500px;
  height: 15%;
  z-index: -1;
  display: none;
}
