@import url('https://fonts.googleapis.com/css?family=Amatic+SC');


body {
  height: 2000px;

}

h3 {
  font-family: 'Amatic SC', cursive;

}

.parallax-container {
  height: 300px;
}

#stickytest {
  position: fixed;
  top: 13%;
  left: 78%;
  filter: invert(100%);
  height: 150px;
  width: 150px;
}

main {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.well {
  background-color: black;
  color: white;
}

#pen {
  filter: invert(100%);
}
